*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 1 em = 10px */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin: 2em auto;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 0.5em;
  font-size: 5rem;
}

footer {
  text-align: center;
  font-size: 1.75rem;
}