*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 1 em = 10px */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin: 2em auto;
  font-size: 1.75rem;
  background-color: #fefefe;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 0.5em;
  font-size: 5rem;
}

section.info {
  display: flex;
  justify-content: space-between;
}

.one {
  flex-basis: 30%;
}

.two {
  flex-basis: 30%;
}

.three {
  flex-basis: 30%;
}

.info-header {
  text-align: center;
  width: 100%;
}

footer {
  text-align: center;
}